html{
    background-color: chocolate;
}

.logo{
    font-size: 3em;
    text-decoration: none;
    color: black;
}

.logo:active{
    color: blue;
}

.mainDiv{
    border: black solid 1px;
    border-radius: 5px;
    padding: 5px;
    background-color: azure;
    height: 500px;
    position: absolute;
    width: 70%;
    left: 15%;
}

.true{
    color: chartreuse;
}

.false{
    color: red;
}

.helpText{
    font-family: "Segoe Print";
    font-size: small;
}